{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<style>
    .container h1 {
        margin-top: 50px;/*
        margin-bottom: 500px; /* Increase the margin bottom */
    }

    .container p {
        margin-bottom: 10px; /* Increase the margin bottom */
    }
</style>

<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our shoe store! We are dedicated to providing high-quality footwear for every occasion.</p>
    <p>Our mission is to offer stylish and comfortable shoes that cater to your individual needs and preferences.</p>
    <p>With a wide range of options available, from casual sneakers to formal dress shoes, we aim to be your one-stop shop for all your footwear needs.</p>
    <p>At our store, customer satisfaction is our top priority. Our friendly staff is here to assist you in finding the perfect pair of shoes.</p>
    <p>Thank you for choosing us. We look forward to helping you put your best foot forward!</p>
</div>

{% endblock body %}
